html {
	height: 100%;
}
body{
	height: 100%; 
	background: linear-gradient(to right bottom, #8C49CC, #53409F, #272468);
	padding: 0px;
	margin: 0px;
}
.card-wrapper {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.9em;
	color: #fff;
	background-color: #272468;
	margin: auto;
	margin-top: 60px;
	padding: 10px;
	width: 300px;
	box-shadow: 7px 7px 10px #54689E;
	border: #4BC4C2 solid 1px;
	border-radius: 10px;
}
h3 {
	font-size: 1.6em;
	font-family: 'Amatic SC', cursive;
	margin: 10px 0px;
	border-bottom: #9D61FC solid 0.5px;
}
.lion {
	width: 300px;
	border-radius: 10px;	
}
.info-wrapper {
	background-color: #272468 ;
	border-radius: 10px;
	padding: 10px;
	margin: 20px 0px 10px;
	border: #4BC4C2 solid 1px;
}
.intro-text {
	font-style: italic;
}
ul {
	list-style: none;
	text-align: left;
	padding: 0px;
}
.items {
	font-weight: bold;
}
